// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-container {
  height: 600px;
  background-image: image-url("hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
  padding-top: 100px;
  text-align: center;
}

.demo-pic-1 {
  height: 450px;
  background-image: image-url("demo-pic-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.demo-pic-2 {
  height: 450px;
  background-image: image-url("demo-pic-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
